<template>
    <base-card>
        <h1>{{ register ? 'Register' : 'Login'}}</h1>
        <input placeholder="Username" type="text" />
        <input placeholder="Password" type="password" />
        <div class="account-actions">
            <button>Submit</button>
            <button @click="toggleActionMode">{{ !register ? 'Register?' : 'Login?'}}</button>
            <a>Forgot Password?</a>
        </div>
    </base-card>
</template>

<script>
import { ref } from "vue";
export default {
    setup() {
        const register = ref(true);
        function toggleActionMode() {
            register.value = !register.value;
        }
        return { toggleActionMode, register }
    },
};
</script>

<style scoped>
input {
    font-size: 3vw;
    width: 80%;
    padding: 10px 0;
    margin: 10px 0;
}
button {
    font-size: 3vw;
    padding: 1.5vw 4vw;
    margin: 3vw 0vw 4.5vw 0vw;
}
a {
    font-size: 2.5vw;
    padding: 1.5vw 2vw;
    margin: 3vw 0vw 4.5vw 0vw;
    cursor: pointer;
}
.account-actions {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
h1 {
    text-align: center;
    padding: 0 3vw;
    font-size: 5vw;
}
</style>
