<template>
    <base-card>
        <h1>Here we are!</h1>
        <p>
            Consectetur facilis magni in quam quia, ullam, molestias cumque.
            Exercitationem similique maiores recusandae praesentium accusamus
            sit ducimus quas, eveniet Eveniet?
        </p>
    </base-card>
    <base-card>
        <h2>Something Else</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro
            veritatis similique harum corrupti, ullam expedita recusandae
            dolorem, dolore alias voluptatibus id accusantium nostrum
            blanditiis? Voluptatem excepturi eveniet, architecto eaque pariatur
            nam illo voluptates doloremque omnis.
        </p>
    </base-card>
    <base-card>
        <h3> Even more else...</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro accusantium dicta blanditiis corrupti sint quam doloremque repellendus? Harum possimus, eum eligendi eius veniam, illum omnis aliquam blanditiis consequatur perspiciatis minima!</p>
    </base-card>
</template>

<style scoped>
h1,
p,
h2,
h3 {
    text-align: center;
    padding: 5px 20px;
}
</style>
