<template>
    <div class="container">
        <ul class="nav-list">
            <router-link class="list-item"  to="/">Home</router-link>
            <router-link class="list-item"  to="/account">Account</router-link>
        </ul>
    </div>
</template>

<style scoped>
.container {
    padding-top: 15px;
    width: 100%;
}
.nav-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.list-item {
    border-right: solid 1px black;
    padding: 0 15px;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    color: black;
}
.list-item:hover,
.router-link-active {
    color: orange;
}
.list-item:last-child {
    border-right: none;
}
</style>
