<template>
    <main-nav></main-nav>
    <router-view></router-view>
</template>

<script>
import MainNav from './components/Header/mainNav.vue'
export default {
    components: {MainNav},
    name: "App",
};
</script>

<style>
app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
</style>
