<template>
    <div class="container">
        <div class="content">
            <slot></slot>
        </div>
    </div>
</template>

<style scoped>
.container {
    padding-top: 25px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.content {
    width: 80%;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 25px 5px;
    border-radius: 7px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
h1,
p {
    text-align: center;
    padding: 0 20px;
}
</style>
